/* Common styles */
.homeimage {
 
  width: 100%;
  height: 100vh; 
  object-fit: cover;
}


.container1 {
  
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.intro {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: rgb(31, 41, 55);
}

/* Media queries */
@media (min-width: 640px) {
  .intro {
    font-size: 2rem;
    line-height: 1;
  }

  .homeimage {
    height: 96vh;
  }
}

@media (min-width: 1024px) {
  .homeimage {
    height: 96vh;
  }
  .container1 {
    max-width: 700px;
  }
}
